<div class="container" id="about">
		<%= image_tag "me.png" %>

		<h1>
			[ ~]$ whoami 
			<br>
			tori
		</h1>

		<p>My name is Tori Wood and I'm learning to create beautiful, powerful, and dynamic web applications. I come from an analytical, data-driven background and I have a passion for solving problems. I'm eager to continue learning. For now, you can check out the <%= link_to "work",projects_path %> section to see what I've been working on lately.</p>

</div>