/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

html {
	background: url("geometric background.jpg") no-repeat center center fixed;
	background-size: cover;
}

html, body {
  height: 100%;
  font-size: 110%;
  color: #1A3038;
  font-family: Arial, Helvetica, sans-serif;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #979589;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 15px 0px black;
}

.nav {
  width: 90%;
  margin: 0 auto;
}

a {
  color: #1A3038;
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 0 0 2px #FFF;
  text-decoration: underline;
}

a:visited {
  color: white;
  text-decoration: none;
}

a#back {
  font-weight: bold;
  float: right;
  padding: 20px;
}

#name {
  display: inline;
  width: 50px;
  height: 50px;
  float: left;
  font-size: 130%;
}

#first-name {
  font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #3E7284;
  text-decoration: none;
  text-shadow: none;
}

#last-name {
  font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
  color: white;
  padding-left: 1px;
  text-decoration: none;
  text-shadow: none;
}

#wrapper {
  padding-top: 50px;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  background-color: #96B7C3;
  clear: both;
  opacity: 0.9;
  filter: alpha(opacity=90);  /*for IE8 and earlier*/
}

p {
  font-size: 100%;
  margin:10px;
  padding: 10px;
}

h1 {
  font-weight: bold;
  font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
  font-size: 160%;
  margin-left: 20px;
  margin-top: 20px;
}

h2,h3 {
  font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
  font-size: 110%;
  width: 95%;
  margin-left: 20px;
  border-bottom: 1px dotted #1A3038;
}

.homelist {
  font-size: 1.25em;
  font-family: 'Architects Daughter', Arial, Helvetica, sans-serif;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);  /*for IE8 and earlier*/
  display: none;
} 

div.homelist {
  padding-top: 150px;
  margin: 0;
}

.homelist a {
  color: #1A3038;
  text-decoration: none;
  text-shadow: none;
}

.homelist h2 {
  border-bottom: none;
  padding-top: 10px;
}

.homelist img {
  padding-left: 10px;
}

#projects {
/*  float: right;
  margin-top: -150px;
  margin-left: -60px;
*/
}

#blog {
  /*float: left;*/
}

.super-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center;
}

.social {
    float: right;
}
 
.morph {
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
          transition: all 0.6s ease;
}
  
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*MEDIA QUERIES*/
@media screen and (min-width: 30em) {

#wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: #96B7C3;
}

#name {
  width: 200px;
  font-size: 150%;
  margin-top: 10px;
}

.super-title {
  font-size: 2em;
}

}

@media screen and (min-width: 75em) {

#wrapper {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  background-color: #96B7C3;
}

.nav {
  width: 1000px;
  margin: 0 auto;
}

#name {
  width: 250px;
  font-size: 175%;
}

.super-title {
  font-size: 3em;
}

.home-list {
  font-size: 2.5em;
}


}