<div class="homelist">
	
		<%= link_to image_tag("projects.png"), projects_path, :class => "link-arrows", id: "projects" %>
		
		<div id="top">
			<%= image_tag "TW-Logo-Full.png", :id => "top-logo" %> <br>
			<h1>WEB DEVELOPER</h1>
			<h2>HTML &#8226; CSS &#8226; JavaScript &#8226; Ruby on Rails</h2>
		</div>
		
		<%= link_to image_tag("blog.png"), posts_path, :class => "link-arrows", id: "blog" %>
</div>
		
