<div class="homelist" id="intro">
	<h1> <%= image_tag("logo.png") %> <br><br>
		WEB DEVELOPER</h1>
	<h2>HTML5 &#8226; CSS3 &#8226; JavaScript &#8226; Ruby on Rails</h2>
</div>
		
<div class="homelist">
			<h2>I'm working on some cool things</h2>
			<%= link_to image_tag("projects.png"), projects_path, id: "projects"
		 %>
</div>
		
<div class="homelist">
			<%= link_to image_tag("blog.png"), projects_path, id: "blog" %>
			<%= link_to "I'm sharing my experiences", posts_path%>
</div>



<script type="text/javascript">
		
	document.getElementById("wrapper").style.width = "100%";

	document.getElementById("intro").style.display = "inherit"

</script>