<div>
<h1>Fluffy Filler</h1>
<p>It's that giving time of year, when chain stores and downtown districts hang up their Christmas ornaments to convince us to buy an endless list of presents for our loved ones.

Do you feel a disconnect this year?

Buying lots of stuff may seem at odds with the suffering of those who have nothing or are struggling to live their lives in peace.

Instead of denying the suffering, why not focus on doing some good? Whatever your traditions, it's never a bad time to make the world a better place. Think about your family, chosen community, faith, beliefs about helping others and struggles that move you, and do something for people near or far away.

CNN's Do-Gooder Holiday Gift Guide will help you do good in the world. You don't have to fix the entire world in one holiday season; just pick one concern to start.

Here are some of our favorites this year.</p>
<p>It's that giving time of year, when chain stores and downtown districts hang up their Christmas ornaments to convince us to buy an endless list of presents for our loved ones.

Do you feel a disconnect this year?

Buying lots of stuff may seem at odds with the suffering of those who have nothing or are struggling to live their lives in peace.

Instead of denying the suffering, why not focus on doing some good? Whatever your traditions, it's never a bad time to make the world a better place. Think about your family, chosen community, faith, beliefs about helping others and struggles that move you, and do something for people near or far away.

CNN's Do-Gooder Holiday Gift Guide will help you do good in the world. You don't have to fix the entire world in one holiday season; just pick one concern to start.

Here are some of our favorites this year.</p>
<p>It's that giving time of year, when chain stores and downtown districts hang up their Christmas ornaments to convince us to buy an endless list of presents for our loved ones.

Do you feel a disconnect this year?

Buying lots of stuff may seem at odds with the suffering of those who have nothing or are struggling to live their lives in peace.

Instead of denying the suffering, why not focus on doing some good? Whatever your traditions, it's never a bad time to make the world a better place. Think about your family, chosen community, faith, beliefs about helping others and struggles that move you, and do something for people near or far away.

CNN's Do-Gooder Holiday Gift Guide will help you do good in the world. You don't have to fix the entire world in one holiday season; just pick one concern to start.

Here are some of our favorites this year.</p>
<p>It's that giving time of year, when chain stores and downtown districts hang up their Christmas ornaments to convince us to buy an endless list of presents for our loved ones.

Do you feel a disconnect this year?

Buying lots of stuff may seem at odds with the suffering of those who have nothing or are struggling to live their lives in peace.

Instead of denying the suffering, why not focus on doing some good? Whatever your traditions, it's never a bad time to make the world a better place. Think about your family, chosen community, faith, beliefs about helping others and struggles that move you, and do something for people near or far away.

CNN's Do-Gooder Holiday Gift Guide will help you do good in the world. You don't have to fix the entire world in one holiday season; just pick one concern to start.

Here are some of our favorites this year.</p>
<p>It's that giving time of year, when chain stores and downtown districts hang up their Christmas ornaments to convince us to buy an endless list of presents for our loved ones.

Do you feel a disconnect this year?

Buying lots of stuff may seem at odds with the suffering of those who have nothing or are struggling to live their lives in peace.

Instead of denying the suffering, why not focus on doing some good? Whatever your traditions, it's never a bad time to make the world a better place. Think about your family, chosen community, faith, beliefs about helping others and struggles that move you, and do something for people near or far away.

CNN's Do-Gooder Holiday Gift Guide will help you do good in the world. You don't have to fix the entire world in one holiday season; just pick one concern to start.

Here are some of our favorites this year.</p>
<p>It's that giving time of year, when chain stores and downtown districts hang up their Christmas ornaments to convince us to buy an endless list of presents for our loved ones.

Do you feel a disconnect this year?

Buying lots of stuff may seem at odds with the suffering of those who have nothing or are struggling to live their lives in peace.

Instead of denying the suffering, why not focus on doing some good? Whatever your traditions, it's never a bad time to make the world a better place. Think about your family, chosen community, faith, beliefs about helping others and struggles that move you, and do something for people near or far away.

CNN's Do-Gooder Holiday Gift Guide will help you do good in the world. You don't have to fix the entire world in one holiday season; just pick one concern to start.

Here are some of our favorites this year.</p>
<p>It's that giving time of year, when chain stores and downtown districts hang up their Christmas ornaments to convince us to buy an endless list of presents for our loved ones.

Do you feel a disconnect this year?

Buying lots of stuff may seem at odds with the suffering of those who have nothing or are struggling to live their lives in peace.

Instead of denying the suffering, why not focus on doing some good? Whatever your traditions, it's never a bad time to make the world a better place. Think about your family, chosen community, faith, beliefs about helping others and struggles that move you, and do something for people near or far away.

CNN's Do-Gooder Holiday Gift Guide will help you do good in the world. You don't have to fix the entire world in one holiday season; just pick one concern to start.

Here are some of our favorites this year.</p>
</div>