<div class="homelist">
	<div id="top">
		<%= image_tag("TW-Logo-Full.png") %> <br>
			<h1>WEB DEVELOPER</h1>
		<h2>HTML &#8226; CSS &#8226; JavaScript &#8226; Ruby on Rails</h2>
	</div>
	<div id="scroll-hint"></div>
</div>
		
<div class="homelist" id="projects-blog">
	<div id="projects">

			<%= link_to image_tag("projects.png"), projects_path %>

			<h1>I'm working on some exciting things. (This stuff is fun!)	</h1>

	</div>		
	<div id="blog">
			
			<h1>Learn with me! Read the blog.</h1>

			<%= link_to image_tag("blog.png"), posts_path %>
	</div>

</div>
