<div class="">

	<h1 class="super-title">I'M A BUDDING WEB DEVELOPER</h1>
		<ul>
		<li class="home-list">I'm excited to learn</li>
		<li class="home-list"><a href="/projects"><span id="projects"></span></a>
			<%= link_to "I'm working on some cool things", projects_path %> 
		</li>
		<li class="home-list"><%= link_to "I'm sharing my experiences", posts_path%><a href="/posts"><span id="blog"></span></a> </li>

	</ul>

</div>













<script type="text/javascript">
		
		document.getElementById("wrapper").style.width = "100%";

</script>